@font-face {
    font-family: NuosuSIL;
     src: url("assets/fonts/NuosuSIL-Regular.ttf");
}

body {
    font-family: 'NuosuSIL';
    font-weight: bold;
    color: #4d2323;
    min-width: 320px;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #f5b678;
}

* {
    box-sizing: border-box;
}
.container-main {
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}



.container{
    max-width: 1440px;
    padding: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.5;
    background-color: #f0ca9f;
    box-shadow: 10px 10px 40px -1px rgb(3, 0, 0);
}

.container-header {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #f0ca9f;
    box-shadow: 10px 10px 40px -1px rgb(3, 0, 0);
}

.container-footer {
    margin-left: 80px;
    margin-right: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 22px;
    background-color: #f0ca9f;
    box-shadow: 10px 10px 40px -1px rgb(3, 0, 0);
}
.footer-link {
    text-decoration: none;
    color: #4d2323;
    font-size: 20px;
    font-weight: 200px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-list {
    display: flex;
    justify-content: flex-end
    align-items: center;
    list-style: none;
}

html {
        scroll-behavior: smooth; 
      }

.nav-link {
    padding: 0px 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
    color: #4d2323;
    font-size: 20px;
    font-weight: 200px;
}

.nav-link:hover {
    color: #829985;
}


.main-title{
    margin-bottom: 0px;  
    font-size: 25px;
    font-weight: 600px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.section-title{  
    font-size: 15px;
    font-weight: 200px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.section-title.sub-title { 
    font-size: 20px;
    font-weight: 400px;
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #672f2f;
}
.section-list {
    list-style: none;
    margin: 0;
    padding: 0; 
}
